owslib
pywps
jinja2
click
psutil
networkx
xarray>=0.15
dask[complete]
netcdf4
python-dateutil>=2.8.1
daops @ git+https://github.com/roocs/daops.git
roocs_utils @ git+https://github.com/roocs/roocs-utils.git
nappy 
prov>=2.0.0
pydot
ceda-wps-assets @ git+https://github.com/cedadev/ceda-wps-assets#egg=ceda-wps-assets
